# =================================================
# IntelliJ IDEA
# =================================================
.idea/
*.iws
*.iml
*.ipr

# =================================================
# Announcement Example Files
# =================================================

/announcements/examples/